﻿
@{
    ViewData["Title"] = "Index";
}

<partial name="_Slider" />

<section class="ftco-section ftco-no-pt ftc-no-pb mt-3">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <h3 class="mb-2 mt-2 font-weight-bold" style="font-size: 28px; color:#5d50c6;">Help Desk </h3>
            </div>
            <button type="button" class="btn btn-success mr-2 btn-sm" style="height: 40px;">
                <a href="@Url.Action("Inquiry","Contact")" style="color:aliceblue;">Fill your details & our executive will contact you soon.</a>
            </button>
        </div>
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-3 d-flex">
                <div class="bg-light align-self-stretch box p-4 text-center">
                    <h5 class="mb-4" style="font-weight: bold;">Head Office</h5>
                    <p style="font-size: 14px;">21,Siddeshwer Shopping Center</p>
                    <p style="font-size: 14px;">Opp.Karan Kamlesh Party Plot</p>
                    <p style="font-size: 14px;">Nigam Road, Ghodasar</p>
                    <p style="font-size: 14px;">Ahmedabad-380050 , Gujarat.</p>
                    <p style="font-size: 14px;">vipul_patel_krishna@yahoo.co.in</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="bg-light align-self-stretch box p-4 text-center">
                    <h5 class="mb-4" style="font-weight: bold;">Branch Office</h5>
                    <p style="font-size: 14px;">Himatnagar</p>
                    <p style="font-size: 14px;">Brillant Computer Education</p>
                    <p style="font-size: 14px;">1st ,Floor, Paradise Complex</p>
                    <p style="font-size: 14px;">Panpur Patiya,Himat Nagar</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="bg-light align-self-stretch box p-4 text-center">
                    <h5 class="mb-4" style="font-weight: bold;">Branch Office (Uttar Pradesh)</h5>
                    <p style="font-size: 14px;">NFOCUS Institute of Photography</p>
                    <p style="font-size: 14px;">Nr. G.M.B Sweets.</p>
                    <p style="font-size: 14px;">Nr.Idgah Bus Stand</p>
                    <p style="font-size: 14px;">Idgah,Agra-282001</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="bg-light align-self-stretch box p-4 text-center">
                    <h5 class="mb-4" style="font-weight: bold;">Branch Office (Mehsana)</h5>
                    <p style="font-size: 14px;">Vaidehi Education</p>
                    <p style="font-size: 14px;">F-164, Squre one Market,</p>
                    <p style="font-size: 14px;">Opp.Golden Squre Complex,</p>
                    <p style="font-size: 14px;">near Domino Pizaa, Radhanpur road,</p>
                    <p style="font-size: 14px;">Mehsana – 384002</p>
                    <p style="font-size: 14px;">Kaushik Patel (9924194254)</p>
                </div>
            </div>
        </div>
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-3 d-flex">
                <div class="bg-light align-self-stretch box p-4 text-center">
                    <h5 class="mb-4" style="font-weight: bold;">Branch Office (Rajkot)</h5>
                    <p style="font-size: 14px;">PERFECT COMPUTER</p>
                    <p style="font-size: 14px;">MO 7383645783</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="bg-light align-self-stretch box p-4 text-center">
                    <h5 class="mb-4" style="font-weight: bold;">Branch Office (Dharampur)</h5>
                    <p style="font-size: 14px;">DATABYATE COMPUTER</p>
                    <p style="font-size: 14px;">Opp.Sinde Petrol pump,</p>
                    <p style="font-size: 14px;">Nr. Old Vallari Hospital,  Dharampur</p>
                    <p style="font-size: 14px;">Mo:-9724247624</p>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <div id="map"></div>
            </div>
        </div>
    </div>
    </div>
</section>