﻿
@{
    ViewData["Title"] = "Inquiry";
}

    <section class="ftco-section ftco-counter img mt-2" id="section-counter" style="background-image: url('@Url.Content("~/images/bg_3.jpg")');" data-stellar-background-ratio="0.5">
        <div class="container mt-0 pt-0">
            <div class="row d-md-flex align-items-center justify-content-center">
                <div class="col-lg-8" style="background-color: #3faaf1; opacity: 0.9; border-radius: 3%;">
                    <div class="row pl-4 mb-0 pb-0 mt-0">
                        <div class="heading-section heading-section-black ftco-animate">
                            <h3 class="mb-2 mt-2 font-weight-bold" style="font-size: 20px; color: aliceblue;">
                                Ask For Membership.</br>
                                Fill your details & our executive will contact you soon.
                            </h3>
                        </div>
                    </div>
                    <form action="#" class="appointment-form ftco-animate p-4">
                        <div class="d-md-flex">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Institute Name">
                            </div>
                            <div class="form-group ml-md-4">
                                <input type="text" class="form-control" placeholder="Contact Person Name ">
                            </div>
                        </div>
                        <div class="d-md-flex">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Institute Address ">
                            </div>
                            <div class="form-group ml-md-4">
                                <input type="text" class="form-control" placeholder="Mobile No. ">
                            </div>
                        </div>
                        <div class="d-md-flex">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email ID ">
                            </div>
                        </div>
                        <div class="d-md-flex">
                            <div class="form-group ">
                                <input type="text" class="form-control" placeholder="City ">
                            </div>
                            <div class="form-group ml-md-4">
                                <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="State"></textarea>
                            </div>
                        </div>
                        <div class="d-md-flex align-items-center justify-content-center mt-3">
                            <div class="form-group col-md-7">
                                <button type="button" value="Submit" class="btn btn-warning mr-2">Submit</button>
                                <!-- <input type="submit" value="Submit" class="btn btn-secondary py-3 px-4"> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>