﻿
@{
    ViewData["Title"] = "Index";
}

<partial name="_Slider" />

<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wrap-about py-5 pr-md-4 ftco-animate">
                <h3 class="mb-2 mt-2 font-weight-bold" style="font-size: 28px; color:#5d50c6;">Govt Project </h3>
                <div class="col-md-12 col-lg-12">
                    <div class="ftco-footer-widget mb-5 ml-md-4">
                        <ul class="list-unstyled">
                            <li><span class="ion-ios-arrow-round-forward mr-2"></span>Micro Small & Medium enterprise development Institute(MSME)</li>
                            <li><span class="ion-ios-arrow-round-forward mr-2"></span>NSDC(Star Project)</li>
                            <li><span class="ion-ios-arrow-round-forward mr-2"></span>NDLM</li>
                            <li><span class="ion-ios-arrow-round-forward mr-2"></span>PMGDISHA</li>
                            <li><span class="ion-ios-arrow-round-forward mr-2"></span>PMKVY</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>