﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] Krishna Institute</title>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/css/open-iconic-bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/animate.css")">

    <link rel="stylesheet" href="@Url.Content("~/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.theme.default.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/magnific-popup.css")">

    <link rel="stylesheet" href="@Url.Content("~/css/aos.css")">

    <link rel="stylesheet" href="@Url.Content("~/css/ionicons.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/css/flaticon.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/icomoon.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">

    @*<link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />*@
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-center">
            <a class="navbar-brand" href="/" style="display: flex; flex-direction: row;">
                <img src="@Url.Content("~/images/logo.png")" class="ftco-animate" alt="Girl in a jacket" style="height: 80px; width: 80px;">
                <div class="pt-2 pl-2 mt-0 heading-section ftco-animate">
                    <h2 class="mb-0" style="font-size: 12px; color: #00266B;"><span>National</span></h2>
                    <h2 class="mb-0" style="font-size: 12px; color: #00266B;"><span>Institute of</span></h2>
                    <h2 class="mb-0" style="font-size: 12px; color: #00266B;"><span>Computer</span> </h2>
                    <h2 class="mb-0" style="font-size: 12px; color: #00266B;"><span>Technology</span> </h2>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/" class="nav-link pl-0">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()
    <partial name="_Footer" />

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-migrate-3.0.1.min.js")"></script>
    <script src="@Url.Content("~/js/popper.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/js/jquery.waypoints.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.stellar.min.js")"></script>
    <script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/js/aos.js")"></script>
    <script src="@Url.Content("~/js/jquery.animateNumber.min.js")"></script>
    <script src="@Url.Content("~/js/scrollax.min.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="@Url.Content("~/js/google-map.js")"></script>
    <script src="@Url.Content("~/js/main.js")"></script>

    @*<script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
        <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
        <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
