﻿@using NICTProject.ViewModel;
@model HomePageViewModel

<footer class="ftco-footer ftco-bg-dark ftco-section pb-0 pt-6">
    <div class="container mb-0">
        <div class="row mb-2">
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2  mb-3">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">21,Siddeshwer Shopping Center, Opp.Karan Kamlesh Party Plot, Nigam Road, Ghodasar Ahmedabad-380050 , Gujarat.</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">9725025085</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">vipul_patel_krishna@yahoo.co.in</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="ftco-footer-widget mb-3">
                    <h2 class="ftco-heading-2  mb-3">News</h2>
                    <div class="block-21 mb-3 d-flex">
                        <div class="text" style="width: 100%;">
                            <marquee behavior="scroll" direction="up" scrollamount="2">
                                @*@foreach (NewsAndEvent news in Model.News)
                                {
                                    <h3 class="heading"><a href="#">@news.title</a></h3>
                                    <div class="meta">
                                        <div><a href="#"><span class="icon-calendar">@news.eventdate Dec 25, 2018</span></a></div>
                                        <div><span class="icon-person">@news.eventshortdesc Admin</span></div>
                                        <div><span class="icon-chat"> 19</span></div>
                                    </div>
                                }*@
                            </marquee>
                        </div>
                    </div>
                </div>
                <div class="ftco-footer-widget mb-3">
                    <h2 class="ftco-heading-2 mb-3">Events</h2>
                    <div class="block-21 mb-4 d-flex">
                        <div class="text" style="width: 100%;">
                            <marquee behavior="scroll" direction="up" scrollamount="2">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> Dec 25, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="ftco-footer-widget mb-3 ml-md-4">
                    <h2 class="ftco-heading-2  mb-3">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index","Home")"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                        <li><a href="@Url.Action("GolsAirms","Home")"><span class="ion-ios-arrow-round-forward mr-2"></span>Goal & Amis</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-3">
                    <h2 class="ftco-heading-2  mb-3">Subscribe Us!</h2>
                    <form action="#" class="subscribe-form">
                        <div class="form-group">
                            <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                            <input type="submit" value="Subscribe" class="form-control submit px-3">
                        </div>
                    </form>
                </div>
                <div class="ftco-footer-widget mb-3">
                    <h2 class="ftco-heading-2 mb-3">Connect With Us</h2>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lf">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p> Copyright &copy;2010, Krishna Infotech  </p>
            </div>
        </div>
    </div>
</footer>