﻿<div class="py-2 bg-primary">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <!-- <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon bg-fifth mr-2 d-flex justify-content-center align-items-center"><span class="icon-map"></span></div>
                        <span class="text">National Institute of Computer Technology</span>
                    </div> -->
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon bg-tertiary mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                        <span class="text">Franchisee Inquiry :- 9725025085</span>
                    </div>
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon bg-tertiary mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                        <span class="text">For Certification Inquiry :- 9725025085</span>
                    </div>
                    <div class="col-md-1 pr-4 d-flex topper align-items-center">
                        <button type="button" class="btn btn-success mr-2 btn-sm"><a href="@Url.Action("Login","User")" style="color:aliceblue;">Login</a></button>
                        <button type="button" class="btn btn-success  btn-sm"><a href="@Url.Action("Exam","User")" style="color:aliceblue;">Exam</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand" href="/" style="display: flex; flex-direction: row;">
            <img src="@Url.Content("~/images/logo.png")" class="ftco-animate" alt="Girl in a jacket" style="height: 80px; width: 80px;">
            <div class="pt-2 pl-2 mt-0 heading-section ftco-animate">
                <h2 class="mb-0" style="font-size: 12px; color: #00266B;"><span>National</span></h2>
                <h2 class="mb-0" style="font-size: 12px; color: #00266B;"><span>Institute of</span></h2>
                <h2 class="mb-0" style="font-size: 12px; color: #00266B;"><span>Computer</span> </h2>
                <h2 class="mb-0" style="font-size: 12px; color: #00266B;"><span>Technology</span> </h2>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/" class="nav-link pl-0">Home</a></li>
                <li class="nav-item">@Html.ActionLink("Course", "Index", "Course", null,new {@class="nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Affilation", "Index", "Affilation", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Student Verification", "Index", "StudentVerification", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Govt Project", "Index", "GovtProject", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Gellary", "Gallery", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Our Center", "Index", "OurCenter", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact Us", "Index", "Contact", null, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->