﻿<section class="home-slider owl-carousel mt-1" style="height: 550px;">
    <div class="slider-item" style="background-image:url('@Url.Content("~/images/bg_1.jpg")');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-8 text-center ftco-animate">
                    <!-- <h1 class="mb-4">Kids Are The Best <span>Explorers In The World</span></h1>
                    <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">Read More</a></p> -->
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image:url('@Url.Content("~/images/bg_2.jpg")');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-8 text-center ftco-animate">
                    <!-- <h1 class="mb-4">Perfect Learned<span> For Your Child</span></h1>
                    <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">Read More</a></p> -->
                </div>
            </div>
        </div>
    </div>
</section>