@{
    ViewData["Title"] = "Question";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

  <section class="ftco-section ftco-no-pb pt-4 mt-4">
        <div class="container">
            <div class="d-flex justify-content-between">
                <h6 class="mb-2 mt-2 font-weight-bold" style="font-size: 18px;">
                    Remaning Time : 1 Miniute 8 Seconds
                </h6>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="text pt-3 p-0 m-0">
                        <h6 class="mb-2 mt-2 font-weight-bold" style="font-size: 16px;">
                            Student Name
                        </h6>
                        <span class="position mb-2" style="text-transform: uppercase;">Pal Ashokbhai Bhanderiya</span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="text pt-3">
                        <h6 class="mb-2 mt-2 font-weight-bold" style="font-size: 16px;">
                            Course Name
                        </h6>
                        <span class="position mb-2" style="text-transform: uppercase;">Integrated MCA</span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 ftco-animate">
                    <div class="text pt-3 p-0 m-0">
                        <h6 class="mb-2 mt-2 font-weight-bold" style="font-size: 16px;">
                            Branch Name
                        </h6>
                        <span class="position mb-2" style="text-transform: uppercase;">National Institute of Computer Technology</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section ftco-no-pt ftc-no-pb" style="margin-top: 20px; margin-bottom: 60px;">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div></div>
                <div class="bg-light p-3">
                    <span>Total Question : 100 / Attend Question : 1 </span>
                </div>
            </div>
            <div class="bg-light p-4 mt-4">
                <form action="/action_page.php">
                    <h6 class="mb-3 font-weight-bold" style="font-size: 24px;">
                        Question. 1
                    </h6>
                    <span>Which of the following displays the contents of the active cell?</span>
                    <div class="form-check">
                      <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Active Cell
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label" for="radio2">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Formula Bar
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label" for="radio2">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Menu Bar
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label" for="radio2">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Name Box
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Save & Next</button>
                  </form>
            </div>
        </div>
    </section>