@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 <section class="ftco-section ftco-counter img mt-0 p-5" id="section-counter" data-stellar-background-ratio="0.5">
        <div class="container mt-0 pt-0">
            <div class="row d-md-flex align-items-center justify-content-center">
                <div class="col-lg-6 bg-light" style="border-radius: 3%;">
                    <div class="row mb-0 pb-0 mt-0">
                        <div class="col-md-12 heading-section heading-section-black ftco-animate">
                            <h6 class="mb-2 mt-4 font-weight-bold text-center" style="font-size: 24px;">
                                Instructions
                            </h6>
                            <div class="ml-4">
                                <div><span><span class="text-primary"> > </span>Total 100 Questions</span></div>
                                <div><span><span class="text-primary"> > </span> Don't try to refresh page</span></div>
                                <div><span><span class="text-primary"> > </span>Clicked on finish button after completeyour exam</span></div>
                                <div><span><span class="text-primary"> > </span>Each Question time 1.20 Miniute</span></div>
                            </div>
                        </div>
                    </div>	
                    <form action="#" class="appointment-form ftco-animate p-4">
                        <div class="d-md-flex align-items-center justify-content-center mt-3">
                            <div class="form-group col-md-7">
                                <button type="button" value="Submit" class="btn btn-primary mr-2">Exam Start</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>