﻿
@{
    ViewData["Title"] = "Login";
}

<section class="ftco-section ftco-counter img mt-2" id="section-counter" style="background-image: url('@Url.Content("~/images/bg_4.jpg")');" data-stellar-background-ratio="0.5">
    <div class="container mt-0 pt-0">
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="col-lg-6" style="background-color: #3faaf1; opacity: 0.9; border-radius: 3%;">
                <div class="row justify-content-center mb-0 pb-0 mt-0">
                    <div class="col-md-8 text-center heading-section heading-section-black ftco-animate">
                        <h3 class="mb-2 mt-2 font-weight-bold" style="font-size: 32px; color: aliceblue;">Login </h3>
                    </div>
                </div>
                <form action="#" class="appointment-form ftco-animate p-4">
                    <div class="d-md-flex">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="User ID">
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Password ">
                        </div>
                    </div>
                    <!-- <div class="d-md-flex">
                        <span style="color: aliceblue; margin-right: 10px;">Type : </span>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="radio1" >
                              <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>
                              <span style="color: aliceblue;">Branch</span>
                            </label>
                          </div>
                          <div class="form-check-inline">
                            <label class="form-check-label" for="radio2">
                              <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
                              <span style="color: aliceblue;">Student</span>
                            </label>
                          </div>
                    </div> -->
                    <div class="d-md-flex align-items-center justify-content-center mt-3">
                        <div class="form-group col-md-7">
                            <button type="button" value="Submit" class="btn btn-warning mr-2">Sing In</button>
                            <!-- <input type="submit" value="Submit" class="btn btn-secondary py-3 px-4"> -->
                        </div>
                    </div>
                </form>
                <!-- <div class="row d-md-flex align-items-center">
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="18">0</strong>
                                <span>Certified Teachers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="351">0</strong>
                                <span>Successful Kids</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="564">0</strong>
                                <span>Happy Parents</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="300">0</strong>
                                <span>Awards Won</span>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>