@{
    ViewData["Title"] = "Upload Excel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="ftco-section ftco-counter img mt-0 p-5" id="section-counter" data-stellar-background-ratio="0.5">
                                        <div class="container mt-0 pt-0">
                                            <div class="row d-md-flex align-items-center justify-content-center">
                                                <div class="col-lg-6 bg-light" style="border-radius: 3%;">
                                                    <div class="row mb-0 pb-3 mt-0">
                                                        <div class="col-md-12 heading-section heading-section-black ftco-animate">
                                                            <h6 class="mb-2 mt-4 font-weight-bold text-center" style="font-size: 24px;">
                                                                <!-- Instructions -->
                                                            </h6>
                                                            <div class="ml-4">
                                                                <div><span><span class="font-weight-bold"> Branch Name : </span> NICT</span></div>
                                                                <div><span><span class="font-weight-bold"> Total From : </span> NICT</span></div>
                                                                <div><span><span class="font-weight-bold"> Total Amount : </span>NICT</span></div>
                                                                <div><span><span class="font-weight-bold"> Receive Amount : </span>21000</span></div>
                                                                <div><span><span class="font-weight-bold"> Remaning Amount : </span>23000</span></div>
                                                            </div>
                                                        </div>
                                                    </div>	
                                                </div>
                                            </div>
                                        </div>
                                    </section>