
@{
    ViewData["Title"] = "BranchLanding";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
<style>
        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #7abaff;
            color: white;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #7abaff;
            color: white;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
        }
    </style>
</head>
<section class="ftco-section pt-2 pb-5">
        <div class="container">
            <div class="row justify-content-center mb-0 pb-5">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <!-- <h2 class="mb-4"><span>Our</span> Courses</h2> -->
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-md-4 course d-lg-flex ftco-animate tab">
                    <img src="images/course/DTP.png" alt="Course" style="height: 50px; width: 50px;">
                    <div class="text p-3 bg-light" style="width: 100%;">
                        <h5 style="font-size: 16px;"><a class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">
                            Desk Top Top Publishing(DTP)</a>
                        </h5>
                        <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button>
                    </div>
                </div>
                <div class="col-md-4 course d-lg-flex ftco-animate">
                    <img src="images/course/CCC.png" alt="Course" style="height: 50px; width: 50px;">
                    <div class="text p-3 bg-light" style="width: 100%;">
                        <h5 style="font-size: 16px;"><a data-toggle="pill" href="#menu1">Course on Computer
                                Concept(CCC)</a></h5>
                    </div>
                </div>
                <div class="col-md-4 course d-lg-flex ftco-animate">
                    <img src="images/course/excel.png" alt="Course" style="height: 50px; width: 50px;">
                    <div class="text p-3 bg-light" style="width: 100%;">
                        <h5 style="font-size: 16px;"><a href="#">Ms-Office</a></h5>
                    </div>
                </div> -->
                <div class="tab">
                    <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">
                        Send Excel Sheet
                    </button>
                    <button class="tablinks" onclick="openCity(event, 'Paris')">
                        Branch student Detail
                    </button>
                    <button class="tablinks" onclick="openCity(event, 'Tokyo')">
                        Branch Fees Detail
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section ftco-counter img mt-0 p-0 pb-3" id="section-counter" data-stellar-background-ratio="0.5">
        <div class="container mt-0 pt-0">
            <div class="row d-md-flex align-items-center justify-content-center">
                <div class="col-lg-12 bg-light" style="border-radius: 3%;">
                    <div class="row mb-0 pb-0 mt-0">
                        <div class="col-md-12 heading-section heading-section-black ftco-animate">
                                <div id="London" class="tabcontent">
                                    <partial name="_UploadExcel" />
                                </div>
                
                                <div id="Paris" class="tabcontent">
                                    <partial name="_GetFeesDetails" />
                                </div>
                
                                <div id="Tokyo" class="tabcontent">
                                    <partial name="_GetStudent" />
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
