﻿
@{
    ViewData["Title"] = "BranchLanding";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="ftco-section pt-2 pb-5">
    <div class="container">
        <div class="row justify-content-center mb-0 pb-5">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span></span> </h2>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 course d-lg-flex ftco-animate">
                @*<img src="@Url.Content("~/images/course/DTP.png")" alt="Course" style="height: 50px; width: 50px;">*@
                <!-- <div class="" style="background-image: url(images/course/DTP.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Send Excel Sheet</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                @*<img src="@Url.Content("~/images/course/CCC.png")" alt="Course" style="height: 50px; width: 50px;">*@
                <!-- <div class="" style="background-image: url(images/course/CCC.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Branch student Detail</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                @*<img src="@Url.Content("~/images/course/excel.png")" alt="Course" style="height: 50px; width: 50px;">*@
                <!-- <div class="" style="background-image: url(images/course/excel.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Branch Fees Detail</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div> 
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <!-- <div class="" style="background-image: url(images/course/excel.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3" style="width: 100%;">
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div> 
            <div class="col-md-4 course d-lg-flex ftco-animate">
                @*<img src="@Url.Content("~/images/course/excel.png")" alt="Course" style="height: 50px; width: 50px;">*@
                <!-- <div class="" style="background-image: url(images/course/excel.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3" style="width: 100%;">
                    @*<h5 style="font-size: 16px;"><a href="#">Branch Fees Detail</a></h5>*@
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div><div class="col-md-4 course d-lg-flex ftco-animate">
                @*<img src="@Url.Content("~/images/course/excel.png")" alt="Course" style="height: 50px; width: 50px;">*@
                <!-- <div class="" style="background-image: url(images/course/excel.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3" style="width: 100%;">
                    @*<h5 style="font-size: 16px;"><a href="#">Branch Fees Detail</a></h5>*@
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div><div class="col-md-4 course d-lg-flex ftco-animate">
                @*<img src="@Url.Content("~/images/course/excel.png")" alt="Course" style="height: 50px; width: 50px;">*@
                <!-- <div class="" style="background-image: url(images/course/excel.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3" style="width: 100%;">
                    @*<h5 style="font-size: 16px;"><a href="#">Branch Fees Detail</a></h5>*@
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
        </div>
    </div>
</section>