
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <style>
        .table-responsive th,
        .table-responsive td {
            text-align: left;
        }

        .table-bordered > tbody > tr > td {
            vertical-align: middle;
        }

        .dataTables_info {
            margin-right: 20px;
            margin-top: 10px;
        }

        .paginate_button {
            padding-left: 10px;
            padding-right: 10px;
            padding: 10px;
            margin-top: 10px;
            background-color: skyblue;
        }

        .dataTables_paginate a {
            color: white;
        }

        /* .dataTables_paginate  {
            margin-left: 860px;
        } */

        .card {
            background: #ffffff;
            margin: 7.5px 0;
            padding: 20px;
            border: 1px solid #e7e7e7;
            border-radius: 3px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        }

        table {
            margin-top: 10px;
        }

        th,
        td,
        option {
            font-size: 14px;
            line-height: 1;
        }

        /* body {
            line-height: 0.8;
        } */
        .dataTables_length {
            font-size: 14px;
        }

        .dataTables_info {
            font-size: 15px;
        }

        .dataTables_filter {
            margin-left: 35px;
            font-size: 14px;
        }

        select {
            margin-left: 5px;
            margin-right: 5px;
        }

        input {
            margin-left: 5px;
        }

        .form-control {
            height: 30px !important;
            background: #fff !important;
            color: #000000 !important;
            font-size: 14px;
            border-radius: 0px;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

            .form-control:focus,
            .form-control:active {
                border-color: #000000;
            }
    </style>
</head>

<partial name="_Slider" />

<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wrap-about py-5 pr-md-4 ftco-animate">
                <h3 class="mb-2 mt-2 font-weight-bold" style="font-size: 28px; color:#5d50c6;">Our Center </h3>
                <div class="card">
                    <div class="bootstrap-data-table-panel">
                        <div class="table-responsive">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Student Name</th>
                                        <th>Address</th>
                                        <th>Student MobileNo.</th>
                                        <th>Enrollent No.</th>
                                        <th>Course</th>
                                        <th>Create Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Pal Patel</td>
                                        <td> ADVANCE COMPUTER EDUCATION </td>
                                        <td> 5656668686 </td>
                                        <td> 5656668686 </td>
                                        <td> MCA </td>
                                        <td> 25-07-2021 </td>
                                    </tr>
                                    <tr>
                                        <td>Piyush Prajapati</td>
                                        <td> ADVANCE COMPUTER EDUCATION </td>
                                        <td> 5656668686 </td>
                                        <td> 5656668686 </td>
                                        <td> MCA </td>
                                        <td> 25-07-2021 </td>
                                    </tr>
                                    <tr>
                                        <td>Riddhi Prajapati</td>
                                        <td> ADVANCE COMPUTER EDUCATION </td>
                                        <td> 5656668686 </td>
                                        <td> 5656668686 </td>
                                        <td> MCA </td>
                                        <td> 25-07-2021 </td>
                                    </tr>
                                    <tr>
                                        <td>Ashwin Suthar</td>
                                        <td> ADVANCE COMPUTER EDUCATION </td>
                                        <td> 5656668686 </td>
                                        <td> 5656668686 </td>
                                        <td> MCA </td>
                                        <td> 25-07-2021 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- scripit init-->
<script src="@Url.Content("~/js/dataTable/datatables.min.js")"></script>
<script src="@Url.Content("~/js/dataTable/datatables-init.js")"></script>