@{
    ViewData["Title"] = "Upload Excel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="ftco-section ftco-counter img mt-0 p-5" id="section-counter" data-stellar-background-ratio="0.5">
        <div class="container mt-0 pt-0">
            <div class="row d-md-flex align-items-center justify-content-center">
                <div class="col-lg-6 " style="border-radius: 3%;">
                    <div class="row mb-0 pb-3 mt-0">
                        <div class="col-md-12 heading-section heading-section-black ftco-animate">
                            <h6 class="mb-4 mt-4 font-weight-bold text-center" style="font-size: 24px;">
                                Please Select Excel File and Send
                            </h6>
                            <form action="/action_page.php">
                                <div class="custom-file mb-4">
                                    <input type="file" class="custom-file-input" id="customFile" name="filename">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <input type="file" id="myFile" name="filename2">
                                <div class="mt-4">
                                    <button type="submit" class="btn btn-primary">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>