﻿
@{
    ViewData["Title"] = "Gallery";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <style>
    .photo-gallery {
  color:#313437;
  background-color:#fff;
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@*@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}*@

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}


    </style>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

<partial name="_Slider" />

<section class="ftco-section ftco-no-pt ftc-no-pb">
    <!-- Page Content -->
    <div class="container">
        <h3 class="mb-2 mt-2 font-weight-bold" style="font-size: 28px; color:#5d50c6;">Image Gallery </h3>
        <hr class="mt-2 mb-4">

        <div class="row text-center text-lg-left">
            <div class="row photos">
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/pWkk7iiCoDM/400x300" data-lightbox="photos" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/aob0ukAYfuI/400x300" data-lightbox="photos" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/EUfxH-pze7s/400x300" data-lightbox="photos" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/M185_qYH8vg/400x300" data-lightbox="photos" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/sesveuG_rNo/400x300" data-lightbox="photos" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/AvhMzHwiE_0/400x300" data-lightbox="photos" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/2gYsZUmockw/400x300" data-lightbox="photos" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/EMSDtjVHdQ8/400x300" data-lightbox="photos" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/8mUEy0ABdNE/400x300" data-lightbox="photos" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/G9Rfc1qccH4/400x300" data-lightbox="photos" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/aJeH0KcFkuc/400x300" data-lightbox="photos" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" data-lightbox="photos" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="Gallery Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>