﻿@model NICTProject.ViewModel.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Slider" />
<partial name="_InfoBox" />

<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wrap-about py-5 pr-md-4 ftco-animate">
                <h3 class="mb-2 mt-2 font-weight-bold" style="font-size: 28px; color:#5d50c6;">Home </h3>
                <p>
                    National institute of computer technology is part of Lakshya Education & Foundation & Shah J. J. Char. Trust(e/16753/Ahm).
                    Lakshya Education & Foundation - Regd. Govt. Of Gujarat.National Institute of Computer Technology is a leading  IT & Non IT Course Network inall over India.
                    The all over India having over 75 above Affiliated Centers. The organizations reach in village to village and all cities to provide lower, middle & higher Class Gently.
                    The organization Slogan is our "There are Still Million People, Whose only dream of IT or Non IT Education" National Institute of Computer Technology is helping all of them to fulfill this dream.
                    Lakshya Education & Foundation an autonomous institution registered No. F/16358/AHM & GUJARAT/16606/AHM.
                    <span style="color: red;">
                        organization registered in N.C.T new delhi govt of india.
                        And Also Register in Ministry of Labour & Employment Govt of India (NCS No:-S13C79-1525298902176) And Also Register in NITI Aayog Govt of India.
                    </span>
                    Lakshya Education & Foundation provides various training programs of Central and State Govt. to the people of different categories in the society. To fulfill the dream of Govt.
                    of India,Information Technology for everyone, and to fulfill the needs of 28 Lakhs IT professional till 2019 and other jobs related to this factor and giving the employment directly or indirectly to one crore people of India,
                    National Institute of Computer Technology is the main motto behind running this program is to bring computer revolution in every village and city of India by delivering the high technical education at the nominal fee to the people of every category in India.
                </p>
                <img src="@Url.Content("~/images/it.png")" alt="Girl in a jacket" style="height: 100px; width: 100px;">
            </div>
        </div>
    </div>
</section>