﻿
@{
    ViewData["Title"] = "Index";
    ViewBag.imageData = true;
}
@section Scripts{
    <script>
        $('.certificate').on({
            'click': function () {
                var image = this.getAttribute('name');
                $('#affilationimage').attr('src', '/images/Affilation/' + image)
            }
        })
        ViewBag.imageData = true;
    </script>
}

<partial name="_Slider" />

<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-5 wrap-about py-5 pr-md-4 ftco-animate">
                <h3 class="mb-2 mt-2 font-weight-bold" style="font-size: 28px; color:#5d50c6;">Affilation of NICT</h3>
                <div class="col-md-12 col-lg-12">
                    <div class="ftco-footer-widget mb-5 ml-md-4">
                        <ul class="list-unstyled">
                            <li><a href="##" name="N.C.T.jpg" class="certificate"><span class="ion-ios-arrow-round-forward mr-2"></span>N.C.T Delhi Govt. of India</a></li>
                            <li><a href="##" name="NPSRegistration.jpg" class="certificate"><span class="ion-ios-arrow-round-forward mr-2"></span>NPS Registraion</a></li>
                            <li><a href="##" name="NHUR.jpg" class="certificate"><span class="ion-ios-arrow-round-forward mr-2"></span>National Human Rights Commission - India(Human Rights Pledge)</a></li>
                            <li><span class="ion-ios-arrow-round-forward mr-2"></span>MSME Udhyog Aadhar</li>
                            <li><a href="##" name="SSI.jpg" class="certificate"><span class="ion-ios-arrow-round-forward mr-2"></span>SSI</a></li>
                            <li><span class="ion-ios-arrow-round-forward mr-2"></span>ISO 9001 : 2015</li>
                            <li><span class="ion-ios-arrow-round-forward mr-2"></span>Ministry of Labour & Employment(NCS  No:-S13C79-1525298902176)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate" style="margin-top: 60px;">
               @if (ViewBag.imageData) {
                   <img src="x" class="ftco-animate" style="height: 800px; width: 500px;" id="affilationimage">
               }
            </div>
        </div>
    </div>
</section>