﻿
@{
    ViewData["Title"] = "Index";
}

<head>
    <style>
        .table-responsive th,
        .table-responsive td {
            text-align: left;
        }

        .table-bordered > tbody > tr > td {
            vertical-align: middle;
        }

        .dataTables_info {
            margin-right: 20px;
            margin-top: 10px;
        }

        .paginate_button {
            padding-left: 10px;
            padding-right: 10px;
            padding: 10px;
            margin-top: 10px;
            background-color: skyblue;
        }

        .dataTables_paginate a {
            color: white;
        }

        /* .dataTables_paginate  {
            margin-left: 860px;
        } */

        .card {
            background: #ffffff;
            margin: 7.5px 0;
            padding: 20px;
            border: 1px solid #e7e7e7;
            border-radius: 3px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        }

        table {
            margin-top: 10px;
        }

        th,
        td,
        option {
            font-size: 14px;
            line-height: 1;
        }

        /* body {
            line-height: 0.8;
        } */
        .dataTables_length {
            font-size: 14px;
        }

        .dataTables_info {
            font-size: 15px;
        }

        .dataTables_filter {
            margin-left: 35px;
            font-size: 14px;
        }

        select {
            margin-left: 5px;
            margin-right: 5px;
        }

        input {
            margin-left: 5px;
        }

        .form-control {
            height: 30px !important;
            background: #fff !important;
            color: #000000 !important;
            font-size: 14px;
            border-radius: 0px;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

            .form-control:focus,
            .form-control:active {
                border-color: #000000;
            }
    </style>
</head>

<partial name="_Slider" />

<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wrap-about py-5 pr-md-4 ftco-animate">
                <h3 class="mb-2 mt-2 font-weight-bold" style="font-size: 28px; color:#5d50c6;">Our Center </h3>
                <div class="card">
                    <div class="bootstrap-data-table-panel">
                        <div class="table-responsive">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Institute Name</th>
                                        <th>City</th>
                                        <th>State</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            ADVANCE COMPUTER EDUCATION
                                        </td>
                                        <td>
                                            Idar
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Arpan Computer Tech Edu
                                        </td>
                                        <td>
                                            D'Cabin
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            BRILLENT COMPUTER EDUCATION
                                        </td>
                                        <td>
                                            Himmatnagar
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            EGYAN COMPUTER
                                        </td>
                                        <td>
                                            Gandhinagar
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            HARI INFOTECH
                                        </td>
                                        <td>
                                            Nadiad
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Krishna Institute of Technology
                                        </td>
                                        <td>
                                            Ghodasar
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            7
                                        </td>
                                        <td>
                                            SIGMA COMPUTER
                                        </td>
                                        <td>
                                            Ahmedabad
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            8
                                        </td>
                                        <td>
                                            ZENITH COMPUTER EDUCATION
                                        </td>
                                        <td>
                                            Odhav
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            9
                                        </td>
                                        <td>
                                            Websoft Computer Academy
                                        </td>
                                        <td>
                                            Bareja
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            10
                                        </td>
                                        <td>
                                            Shree N.M Gopani polytechnic Institute
                                        </td>
                                        <td>
                                            Limdi
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            11
                                        </td>
                                        <td>
                                            Institute of Achiver
                                        </td>
                                        <td>
                                            Ambawadi
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            12
                                        </td>
                                        <td>
                                            Global&nbsp; Institute
                                        </td>
                                        <td>
                                            Delhi
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            13
                                        </td>
                                        <td>
                                            REVOLUTION ACADEMY
                                        </td>
                                        <td>
                                            Kapadwanj
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            14
                                        </td>
                                        <td>
                                            VAIDEHI EDUCATION
                                        </td>
                                        <td>
                                            Mehsana
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            15
                                        </td>
                                        <td>
                                            New KDM Institute of Mobile Technology
                                        </td>
                                        <td>
                                            Relif Road
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            16
                                        </td>
                                        <td>
                                            Tejas Computer
                                        </td>
                                        <td>
                                            Bhimapura
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            17
                                        </td>
                                        <td>
                                            Big-Byte EduTech
                                        </td>
                                        <td>
                                            Mehsana
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            18
                                        </td>
                                        <td>
                                            INFOCUS Institute of Photography
                                        </td>
                                        <td>
                                            Agra
                                        </td>
                                        <td>
                                            UP
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            19
                                        </td>
                                        <td>
                                            Righteous Girls Education
                                        </td>
                                        <td>
                                            Himmatnagar
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            20
                                        </td>
                                        <td>
                                            AZTECH COMPUTER
                                        </td>
                                        <td>
                                            Himmatnagar
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            21
                                        </td>
                                        <td>
                                            SRK Computer
                                        </td>
                                        <td>
                                            Junagadh
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            22
                                        </td>
                                        <td>
                                            Dignity Computer Education
                                        </td>
                                        <td>
                                            Paldi
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            23
                                        </td>
                                        <td>
                                            krishna computer centre
                                        </td>
                                        <td>
                                            Ghatlodiya
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            24
                                        </td>
                                        <td>
                                            brilliant computer education- bopal
                                        </td>
                                        <td>
                                            Bopal
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            25
                                        </td>
                                        <td>
                                            Hetvi Computer
                                        </td>
                                        <td>
                                            Rajkot
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            26
                                        </td>
                                        <td>
                                            Sarswati Education Center
                                        </td>
                                        <td>
                                            Visnagar
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            27
                                        </td>
                                        <td>
                                            Tejas Computer
                                        </td>
                                        <td>
                                            Mehsana
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            28
                                        </td>
                                        <td>
                                            NICT
                                        </td>
                                        <td>
                                            KOTA
                                        </td>
                                        <td>
                                            Rajsthan
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            29
                                        </td>
                                        <td>
                                            Malhar Computer Center
                                        </td>
                                        <td>
                                            Satellite
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            30
                                        </td>
                                        <td>
                                            J.J Shah Charitable Trust
                                        </td>
                                        <td>
                                            Vastrapur
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            31
                                        </td>
                                        <td>
                                            Ujjawal Computer Education
                                        </td>
                                        <td>
                                            New vadaj
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            32
                                        </td>
                                        <td>
                                            Bhavani Computer Education Center
                                        </td>
                                        <td>
                                            Deesa
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            33
                                        </td>
                                        <td>
                                            Hi- tech Computer
                                        </td>
                                        <td>
                                            Bhiloda
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            34
                                        </td>
                                        <td>
                                            Future Path Education
                                        </td>
                                        <td>
                                            Maninagar
                                        </td>
                                        <td>
                                            GUJRAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            35
                                        </td>
                                        <td>
                                            E-TECH COMPUTERS
                                        </td>
                                        <td>
                                            RAJKOT
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            36
                                        </td>
                                        <td>
                                            Payal Computer
                                        </td>
                                        <td>
                                            Ahmedabad
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            37
                                        </td>
                                        <td>
                                            Bright Computer Academy
                                        </td>
                                        <td>
                                            Santrampur
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            38
                                        </td>
                                        <td>
                                            Shree Computer
                                        </td>
                                        <td>
                                            Ahmedabad
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            39
                                        </td>
                                        <td>
                                            Perfect Computer Classes
                                        </td>
                                        <td>
                                            Rajkot
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            40
                                        </td>
                                        <td>
                                            Sanklap Computer Education
                                        </td>
                                        <td>
                                            Ahmedabad
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            41
                                        </td>
                                        <td>
                                            KAZI IT EDUCATION
                                        </td>
                                        <td>
                                            Shahera
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            42
                                        </td>
                                        <td>
                                            BANSI COMPUTER EDUCATION
                                        </td>
                                        <td>
                                            JUNAGADH
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            43
                                        </td>
                                        <td>
                                            DATABYTE COMPUTER
                                        </td>
                                        <td>
                                            NANAPONDHA
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            44
                                        </td>
                                        <td>
                                            Knowledge Spot Computer Center
                                        </td>
                                        <td>
                                            Ahmedabad
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            45
                                        </td>
                                        <td>
                                            Sairam Education Trust
                                        </td>
                                        <td>
                                            Ahmedabad
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            46
                                        </td>
                                        <td>
                                            Rangam Education
                                        </td>
                                        <td>
                                            Ahmedabad
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            47
                                        </td>
                                        <td>
                                            J &amp; R INSTITUTE OF TECHNOLOGY
                                        </td>
                                        <td>
                                            Himmatnagar
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            48
                                        </td>
                                        <td>
                                            GLOBAL COMPUTER EDUCATION
                                        </td>
                                        <td>
                                            NAVA NARODA
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            49
                                        </td>
                                        <td>
                                            JUPITER ACADEMY
                                        </td>
                                        <td>
                                            PRANTIJ
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            50
                                        </td>
                                        <td>
                                            KNOWLEDGE COMPUTER ACADEMY
                                        </td>
                                        <td>
                                            SARASPUR
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            51
                                        </td>
                                        <td>
                                            KRISHNA COMPUTER- NARANPURA
                                        </td>
                                        <td>
                                            NARANPURA
                                        </td>
                                        <td>
                                            Gujarat
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            52
                                        </td>
                                        <td>
                                            <p>
                                                DOMINICAN INSTITUTE - VYARA
                                            </p>
                                        </td>
                                        <td>
                                            VYARA
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            53
                                        </td>
                                        <td>
                                            ACHIEVERS CAREER ACADEMY
                                        </td>
                                        <td>
                                            SONGADH
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            54
                                        </td>
                                        <td>
                                            SHREE COMPUTERS
                                        </td>
                                        <td>
                                            LAKHPAT
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            55
                                        </td>
                                        <td>
                                            IACT COMPUTER EDUCATION
                                        </td>
                                        <td>
                                            AMRELI
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            56
                                        </td>
                                        <td>
                                            PLANET COMPUTER CLASSES
                                        </td>
                                        <td>
                                            MANSA
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            57
                                        </td>
                                        <td>
                                            SHIV COMPUTER EDUCATION
                                        </td>
                                        <td>
                                            NEW RANIP
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            58
                                        </td>
                                        <td>
                                            FUTURE POINT INSTITUTE
                                        </td>
                                        <td>
                                            DHANERA
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            59
                                        </td>
                                        <td>
                                            BRIGHT COMPUTER EDUCATION
                                        </td>
                                        <td>
                                            BAYAD
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            60
                                        </td>
                                        <td>
                                            SARSWATI COMPUTER
                                        </td>
                                        <td>
                                            LAMBHA
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            61
                                        </td>
                                        <td>
                                            SARSWATI COMPUTER
                                        </td>
                                        <td>
                                            PIPLAJ PIRANA
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            62
                                        </td>
                                        <td>
                                            SARSWATI COMPUTER
                                        </td>
                                        <td>
                                            AMRAIWADI
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            63
                                        </td>
                                        <td>
                                            V - TECH EDUCATION
                                        </td>
                                        <td>
                                            DARAMALI
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            64
                                        </td>
                                        <td>
                                            BEFORE COMPUTER EDUCATION
                                        </td>
                                        <td>
                                            BHAVNAGAR
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            65
                                        </td>
                                        <td>
                                            SHREE RAJ COMPUTERS
                                        </td>
                                        <td>
                                            AHMEDABAD
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            66
                                        </td>
                                        <td>
                                            UNIVERSAL INSTITUTE OF COMPUTER TECHNOLOGY
                                        </td>
                                        <td>
                                            SURAT
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            67
                                        </td>
                                        <td>
                                            MARUTI COMPUTER
                                        </td>
                                        <td>
                                            KESHOD
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            68
                                        </td>
                                        <td>
                                            IT GURU COMPUTER CLASS
                                        </td>
                                        <td>
                                            SURAT
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            69
                                        </td>
                                        <td>
                                            I-TECH COMPUTER EDUCATION
                                        </td>
                                        <td>
                                            SURAT
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            70
                                        </td>
                                        <td>
                                            SDI COMPUTER EDUCATION
                                        </td>
                                        <td>
                                            SATELLITE
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            71
                                        </td>
                                        <td>
                                            SHREEJI COMPUTER CLASS
                                        </td>
                                        <td>
                                            MANINAGAR
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            72
                                        </td>
                                        <td>
                                            NUTAN COMPUTER CLASSES
                                        </td>
                                        <td>
                                            KADI
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            73
                                        </td>
                                        <td>
                                            ANANYA COMPUTER CLASSES
                                        </td>
                                        <td>
                                            SATELLITE
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            73
                                        </td>
                                        <td>
                                            ANANYA COMPUTER CLASSES
                                        </td>
                                        <td>
                                            MEMNAGAR
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            74
                                        </td>
                                        <td>
                                            MALWA CAD CAM CARE
                                        </td>
                                        <td>
                                            MEHSANA
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            75
                                        </td>
                                        <td>
                                            BITCOM COMPUTER EDUCATION
                                        </td>
                                        <td>
                                            VADODRA
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            76
                                        </td>
                                        <td>
                                            MAA ASHAPURA COMPUTER EDUCATION
                                        </td>
                                        <td>
                                            PANCHMAHAL
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            77
                                        </td>
                                        <td>
                                            SHRADDHA SKILL DEVELOPMENT CENTER
                                        </td>
                                        <td>
                                            GANDHINAGAR
                                        </td>
                                        <td>
                                            GUJARAT
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- scripit init-->
<script src="@Url.Content("~/js/dataTable/datatables.min.js")"></script>
<script src="@Url.Content("~/js/dataTable/datatables-init.js")"></script>