﻿@model NICTProject.ViewModel.HomePageViewModel
@{
    ViewData["Title"] = "Course";
}

<section class="ftco-section pt-2 pb-5">
    <div class="container">
        <div class="row justify-content-center mb-0 pb-5">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Our</span> Courses</h2>
                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/DTP.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/DTP.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Desk Top Top Publishing(DTP)</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/CCC.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/CCC.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Course on Computer Concept(CCC)</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/excel.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/excel.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Ms-Office</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/Html.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/Html.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Web Designing</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/csharp.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/csharp.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">C,C++ Language</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/Tally.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/Tally.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Tally</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/autoCard.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/autoCard.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Auto Cad</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/mobile.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/mobile.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Mobile Repaering</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/hardware.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/hardware.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Hardware & Networking</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/Teacher.png")" alt="Course" style="height: 50px; width: 50px;">
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">CTTC (Computer Teacher Training Course)</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/dca.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/dca.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Diploma in computer Application(DCA)</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/java.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/java.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Java, .Net , PHP all language</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/bca.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/bca.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">BCA Student project</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/seo.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/seo.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Digital Marketing</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/mic.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/mic.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Master in Computer(MIS)</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/java.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/java.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Advance Diploma in Computer Application(ADCA)</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/autoCard.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/autoCard.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Diploma In Computer Teacher Training (DCTT)</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/hardware.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/hardware.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Diploma In Mobile Technology</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/mic.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/mic.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Advance Diploma in Software Engineering</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/Teacher.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/Teacher.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Post Graduate Diploma in Information Technology(PGDIT)</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/dca.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/dca.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Post Graduate Diploma in Computer Application(PGDCA)</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/bca.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/bca.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Web Designing</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/bca.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/bca.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">Mother Board Cheap Level Repairing</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
            <div class="col-md-4 course d-lg-flex ftco-animate">
                <img src="@Url.Content("~/images/course/seo.png")" alt="Course" style="height: 50px; width: 50px;">
                <!-- <div class="" style="background-image: url(images/course/seo.png); width: 80px; background-repeat: no-repeat;"></div> -->
                <div class="text p-3 bg-light" style="width: 100%;">
                    <h5 style="font-size: 16px;"><a href="#">English Speaking Course</a></h5>
                    <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
                    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
                </div>
            </div>
        </div>
    </div>
</section>